.container-login {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.card-login {
  display: flex;
  width: 100%;
  height: 100vh !important;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vh;
  height: 90vh;
  margin: 5vh 0 0 0;
  box-shadow: inset 0 0 0 0.5px #72e8d2 !important;
  border-radius: 10px;
}

.switch-theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}
