* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: var(--color-ligth);
  font-weight: bold;
  font-size: 30px;
  background-color: var(--color-primary);
  box-shadow: 1px 1px 2px 2px var(--color-variant);
  z-index: 1;
}
